.ProfileContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
}

.ProfileBackground {
    background-color: #323232;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 50%;
}

.ProfileSubContainer{
    z-index: 25;
    /* display: flex; */
    width: 60%;
    display: grid;
    grid-template-columns: 35% 65%;
    background-color: beige;
    border-radius: 10px;
}

.ProfileSubContainerSideBar {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 40px;
    color:#323232;
    border-right: 2px #323232 solid;
}
.ProfileSubContainerSideBar button {
    border: none;
    background: none;
    padding: 10px 20px;
    display: flex;
    text-align: left;
    border-radius: 5px;
}

.ProfileSubContainerSideBar .active {
    background-color: #323232;
    color: beige;
}
.ProfileSubConatinerMainInfoTitle{
    padding: 20px 40px;
    color :#323232;
    border-bottom: 2px #323232 solid;
}


