.OurServices {
  font-size: var(--text-small);
  font-weight: var(--text-regular);
  color: var(--primary-black);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding: 40px 0px;
}

.OurServicesTitle {
  font-size: var(--text-big);
  font-weight: var(--text-bold);
}

.OurServicesRow {
  width: var(--width);
  display: flex;
  align-items: space-between;
  gap: 50px;
}

.OurServicesCard {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 2px solid var(--primary-black);
  border-radius: 5px;
}

.OurServicesCard img {
  width: fit-content;
}

.OurServicesCardTitle {
  font-size: var(--text-medium);
  font-weight: var(--text-bold);
}

@media screen and (max-width: 1000px) {
  .OurServices {
    align-items: flex-start;
    padding: 40px;
  }

  .OurServicesRow {
    display: flex;
    flex-direction: column;
  }
}
