.NavBarContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  font-size: var(--text-big);
  font-weight: var(--text-bold);
  color: var(--primary-black);
}

.NavBarButtonContainer {
  display: flex;
  gap: 40px;
  align-items: center;
}

.NavBarLinks {
  display: flex;
  gap: 40px;
}

.NavBarLinks a {
  border: none;
  background: none;
  font-size: var(--text-small);
  font-weight: var(--text-regular);
  color: var(--primary-black);
  text-decoration: none;
}

.NavBarLinks div {
  border: none;
  background: none;
  font-size: var(--text-small);
  font-weight: var(--text-regular);
  color: var(--primary-black);
  text-decoration: none;
}

.NavBarSign {
  display: flex;
  align-items: center;
  /* cursor: pointer; */
}

@media screen and (max-width: 1000px) {
  .NavBarContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .NavBarButtonContainer {
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 0px;
  }

  .NavBarLinks {
    gap: 15px;
  }
}
