.AddEquipmentContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 25;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.AddEquipmentBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-black);
  opacity: 50%;
  z-index: 20;
}

.AddEquipmentParentContainer {
  background-color: var(--primary-background-grey);
  border: 2px solid var(--primary-black);
  width: calc(var(--width) * 0.75);
  padding: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 25;
}

.AddEquipmentSubContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "AddEquipmentSubContainerImageContainer AddEquipmentSubContainerNameContainer AddEquipmentSubContainerNameContainer"
    "AddEquipmentSubContainerImageContainer AddEquipmentSubContainerDescriptionContainer AddEquipmentSubContainerDescriptionContainer"
    "AddEquipmentSubContainerImageContainer AddEquipmentSubContainerLocationContainer AddEquipmentSubContainerLocationContainer"
    "AddEquipmentSubContainerImageContainer AddEquipmentSubContainerPriceContainer AddEquipmentSubContainerPriceContainer"
    "AddEquipmentSubContainerImageContainer AddEquipmentSubContainerButtonContainer AddEquipmentSubContainerButtonContainer";
}

.AddEquipmentSubContainerImageContainer {
  grid-area: AddEquipmentSubContainerImageContainer;
}

.AddEquipmentSubContainerNameContainer {
  grid-area: AddEquipmentSubContainerNameContainer;
}

.AddEquipmentSubContainerDescriptionContainer {
  grid-area: AddEquipmentSubContainerDescriptionContainer;
}

.AddEquipmentSubContainerLocationContainer {
  grid-area: AddEquipmentSubContainerLocationContainer;
}

.AddEquipmentSubContainerButtonContainer {
  grid-area: AddEquipmentSubContainerButtonContainer;
}

.AddEquipmentSubContainerPriceContainer {
  grid-area: AddEquipmentSubContainerPriceContainer;
}

.AddEquipmentSubContainerImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.AddEquipmentImageInput {
  margin-bottom: 10px;
}

.EquipmentImagePreview {
  max-width: 100%;
  max-height: 150px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.AddEquipmentCloseButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.AddEquipmentCloseButton {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-black);
}

@media screen and (max-width: 1000px) {
  .AddEquipmentSubContainer {
    display: flex;
    flex-direction: column;
  }

  .AddEquipmentSubContainerInputCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .AddEquipmentSubContainerInputCard input {
    width: calc(100% - 40px);
  }
}
